* {
  padding: 0;
  margin: 0;
  border: 0;
  list-style: none;
  text-decoration: none;
}


/* FONTS */
@font-face {
  font-family: 'Red Hat Display';
  src: url('../fonts/RedHatDisplay-Bold.woff2') format('woff2'),
      url('../fonts/RedHatDisplay-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Red Hat Display';
  src: url('../fonts/RedHatDisplay-Regular.woff2') format('woff2'),
      url('../fonts/RedHatDisplay-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Red Hat Display';
  src: url('../fonts/RedHatDisplay-Black.woff2') format('woff2'),
      url('../fonts/RedHatDisplay-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Red Hat Display';
  src: url('../fonts/RedHatDisplay-Medium.woff2') format('woff2'),
      url('../fonts/RedHatDisplay-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}




/* GLOBAL */

html {
  height: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 16px;
}

*,
*::before,
*::after {
  box-sizing:inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

img {
  max-width: 100%;
  height: auto;
}



/* MAIN-CONTENT */

.main-content {
  flex-grow: 1;
}



/* RETINA BACKGROUND IMAGES */
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {

}