body {
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  background-color: #fafafa;
  color: #87879d;
}

.container {
  width: 100%;
  max-width: 1158px;
  padding-left: 24px;
  padding-right: 24px;
  margin-left: auto;
  margin-right: auto;
}

.btn {
  display: inline-block;
  width: 193px;
  text-align: center;
  background-color: transparent;
  font-weight: 900;
  font-size: 16px;
  line-height: 26px;
  padding: 16px 29px;
  border-radius: 30px;
}
.btn:not(:last-child) {
  margin-right: 16px;
}
.btn-blue {
  color: #fff;
  background-color: #4d96a9;
}
.btn-blue:hover {
  background-color: #71c0d4;
}
.btn-blue:active {
  opacity: 0.8;
}
.btn-purple {
  background-color: #855fb1;
  color: #fff;
}
.btn-purple .btn--opacity {
  color: #d9b8ff;
}
.btn-purple:hover {
  background-color: #b18bdd;
}
.btn-purple:active {
  opacity: 0.8;
}
.btn--opacity {
  color: #8fe3f9;
}

/* LOGO */
.logo {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 119px;
}
.logo:hover {
  opacity: 0.8;
}
.logo:active {
  opacity: 0.6;
}

/* HEADER */
.header {
  margin-top: 83px;
  margin-bottom: 314px;
}
.header__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.header__nav {
  margin-bottom: 110px;
}
.header__image {
  display: none;
}

.hero {
  text-align: center;
  width: 545px;
  margin-left: auto;
  margin-right: auto;
}
.hero__heading {
  font-weight: 900;
  font-size: 64px;
  line-height: 64px;
  color: #28283d;
  width: 445px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 34px;
}
.hero__description {
  margin-bottom: 32px;
}

/* BUILT */
.built {
  margin-bottom: 158px;
}
.built__content {
  width: 540px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.built__info {
  font-weight: 900;
  font-size: 16px;
  color: #4d96a9;
  margin-bottom: 16px;
}
.built__heading {
  font-size: 40px;
  line-height: 44px;
  font-weight: 900;
  margin-bottom: 32px;
  width: 445px;
  margin-right: auto;
  margin-left: auto;
  color: #28283d;
}

/* PICTURES */
.pictures {
  margin-bottom: 80px;
  display: flex;
}
.pictures__item {
  width: 100%;
  max-width: 255px;
  height: auto;
}
.pictures__item:not(:last-child) {
  margin-right: 30px;
}

